<h1>Listing agroups</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @agroups.each do |agroup| %>
  <tr>
    <td><%= agroup.name %></td>
    <td><%= link_to 'Show', agroup %></td>
    <td><%= link_to 'Edit', edit_agroup_path(agroup) %></td>
    <td><%= link_to 'Destroy', agroup, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Agroup', new_agroup_path %>
