<p id="notice"><%= notice %></p>

<p>
  <b>Storage:</b>
  <%= @folder.storage_id %>
</p>

<p>
  <b>Mpath:</b>
  <%= @folder.mpath %>
</p>

<p>
  <b>Lfolder:</b>
  <%= @folder.lfolder %>
</p>

<p>
  <b>Mediaobject:</b>
  <%= @folder.mediaObject_id %>
</p>

<p>
  <b>File Path:</b>
  <%= @folder.filePath %>
</p>


<%= KALA.mpath%>
<%= link_to 'Edit', edit_folder_path(@folder) %> |
<%= link_to 'Back', folders_path %>
