<%= form_for(@media_object) do |f| %>
  <% if @media_object.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@media_object.errors.count, "error") %> prohibited this media_object from being saved:</h2>

      <ul>
      <% @media_object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :modified %><br />
    <%= f.datetime_select :modified %>
  </div>
  <div class="field">
    <%= f.label :mod_date %><br />
    <%= f.date_select :mod_date %>
  </div>
  <div class="field">
    <%= f.label :folder_id %><br />
    <%= f.number_field :folder_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
