<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @media_object.name %>
</p>

<p>
  <b>Modified:</b>
  <%= @media_object.modified %>
</p>

<p>
  <b>Mod date:</b>
  <%= @media_object.mod_date %>
</p>

<p>
  <b>Folder:</b>
  <%= @media_object.folder_id %>
</p>


<%= link_to 'Edit', edit_media_object_path(@media_object) %> |
<%= link_to 'Back', media_objects_path %>
