<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @storage.name %>
</p>

<p>
  <b>Path:</b>
  <%= @storage.path %>
</p>


<%= link_to 'Edit', edit_storage_path(@storage) %> |
<%= link_to 'Back', storages_path %>
