<%= form_for(@attri) do |f| %>
  <% if @attri.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@attri.errors.count, "error") %> prohibited this attri from being saved:</h2>

      <ul>
      <% @attri.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :agroup_id %><br />
    <%= f.select :agroup_id, 
    			  Agroup.all.map {|l| [l.name, l.id]},
    			  prompt: "Bitte wählen"%>
    			  
  </div>
  <div class="field">
    <%= f.label :id_sort %><br />
    <%= f.text_field :id_sort %>
  </div>
  <div class="field">
    <%= f.label :parent_id %><br />
    <%= f.number_field :parent_id %>
  </div>
  <div class="field">
    <%= f.label :keycode %><br />
    <%= f.text_field :keycode %>
  </div>
  <div class="field">
    <%= f.label :group_id %><br />
    <%= f.text_field :group_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
