<h1>Editing location</h1>

<%= render 'form' %>

<%= render :partial => 'shared/assign_attris' %>
<%= render :partial => 'shared/edit_tag' %>

<%= link_to 'Show', @location %> |
<%= link_to 'Back', locations_path %>
