<!DOCTYPE html>
<html>
<head>
  <title>PMDB3</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id='menu'>
	Menue
	<%=link_to 'Locations', locations_path%>
	<%=link_to 'MO', media_objects_path%>
</div>

<%= yield %>

</body>
</html>
